@import "../../sass_modules/default";
@mixin styled-button () {
	border: none;
	height: 60%;
	width: 8rem;
	text-align: center;
	// padding: 0 3rem;
	margin: 1rem;
	color: $lightBGColor;
	font-weight: 500;
	@include makeColFlexCenter();
	border: .1rem solid $blurColor;

	@media only screen and (max-width: 680px) {
		font-size: 1.5rem;
	}
}
.cta-primary,.cta-secondary{
	@include styled-button();
}
.cta-primary {
	background-color: $darkTextColor;
}

.cta-secondary {
	background-color: $authSecondaryCTAColor;
	width: 15rem;
}