@import "../../sass_modules/_default.scss";
.checkout-cta-btn {
	border: unset;
	background-color: unset;
	background-color: $accentColor;
	color: $lightBGColor;
	font-size: 1.2rem;
	text-transform: capitalize;
	font-weight: 700;
	font-family: montserrat;
	width: 10rem;
	height: 3rem;
	@include makeRowFlexCenter();
	overflow: hidden;
	margin-top: 2rem;
	cursor: pointer;
	box-shadow: .1rem .2rem .4rem $checkoutCTAShadowColor;


	span {
		height: 50%;
		margin-left: .5rem;
		transform: scaleY(.9);
		svg{
			height: 100%;
		}
	}


}