@import "../../sass_modules/default";

.F04-wrapper {
	@include makeFullSizeBlock();
	position: fixed;
	overflow: hidden;
	height: 100vh;
	top: 0;
	@include makeColFlexCenter();

	.F04-div {
		height: 50%;
		@include makeFullWidthBlock();
		@include makeRowFlexCenter();
		overflow: hidden;

		svg {
			height: 100%;
			transform: scale(2);
		}
	}

	.F04-message {
		@include makeFullWidthBlock();
		text-align: center;
		height: max-content;
		font-size: 2rem;
		font-weight: 900;
		color: $accentColor;

	}
}