@import "_functions.scss";
@import "_variables.scss";
@import "_typography.scss";

* {
	margin: 0;
	padding: 0;

	&::selection {
		background-color: transparent;
	}
}


*,
*::before,
*::after {
	box-sizing: inherit;
	font-family: openSansCondensed;

}

@mixin removeScrollBar {
	&::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html {
	box-sizing: border-box;
	font-size: 10px;
	@include removeScrollBar();
	height: 100%;
	width: 100%;

	@media only screen and (max-width: 860px) {
		font-size: 9px;
	}

	@media only screen and (max-width: 720px) {
		font-size: 8px;
	}

	@media only screen and (max-width: 650px) {
		font-size: 7 px;
	}
}

body {
	width: 100%;
	height: fit-content;
	min-height: 100vh;
}

.hidden {
	display: none !important;
}

.wrapper {
	padding: 3rem 3rem 6rem 3rem;
	background-color: $BodyColor;
	width: 100%;
	min-height: 100vh;
	height: inherit;
	@include makeColFlexStart();
	overflow: hidden;

	@media only screen and (max-width: 550px) {
		padding: 2rem 3rem 6rem 3rem;
	}

	header {
		@include makeFullWidthBlock();
		@include makeRowFlex();
		align-items: flex-start;
		justify-content: space-between;
		height: 10rem;
		position: fixed;
		z-index: 2;
		// margin-bottom: 2rem;

		.logo-div {
			@include makeFullHeightBlock();
			margin: 1rem 2rem;

			@media only screen and (max-width: 860px) {
				height: 80%;
			}

			svg {
				height: 60%;
			}
		}

		.header-nav {
			width: 85%;
			@include makeFullHeightBlock();
			@include makeFlexCenter();
			justify-content: flex-end;
			padding-right: 5rem;


			@media only screen and (max-width: 860px) {
				grid-column: span 12;
				left: 0;
			}

			li,
			svg {
				cursor: pointer;
			}

			.header-nav-texts {
				width: 80%;
				height: inherit;
				@include makeRowFlexEnd();
				align-items: center;
				list-style-type: none;
				padding-right: 15rem;

				@media only screen and (max-width: 860px) {
					padding-right: 5rem;
				}

				@media only screen and (max-width: 550px) {
					padding-right: 0;
				}

				.header-nav-text {
					font-size: 2.5rem;
					position: relative;

					@media only screen and (max-width: 860px) {
						font-size: 2rem;
					}

					color: $homeNavTextColor;
					margin-right: 4rem;

					@media only screen and (max-width: 450px) {
						margin-right: 2rem;
					}

					&.active {
						&::before {
							@include makeAbsoluteBottomDiv();
							width: 1rem;
							height: 1rem;
							border-radius: 50%;
							background-color: $accentColor;
							left: 45%;
							bottom: -25%;
						}
					}
				}

			}

			.shopping-icon-div {
				height: 60%;
				justify-self: center;
				position: relative;

				@media only screen and (max-width: 860px) {
					height: 40%;
				}

				svg {
					height: 100%;

					path {
						fill: $homeNavTextColor;
					}
				}

				span {
					@include makeAbsoluteDiv();
					top: -4%;
					left: 40%;
					font-weight: 700;
					font-size: 1.2rem;

					@media only screen and (max-width: 860px) {
						top: -30%;
					}
				}

			}
		}
	}
}

.cart-modal {
	@include makeAbsoluteTopRightDiv();
	position: fixed;
	overflow: hidden;
	height: 45rem;
	width: 30rem;
	top: 11rem;
	right: 4rem;
	z-index: 2;
	@include makeColFlexStart();
	background-color: $lightBGColor;
	padding: 1rem;
	border: .1rem solid $cartModalBorderColor;
	box-shadow: .5rem .5rem 1rem $checkoutCTAShadowColor;

	// display: none;
	// img{
	// 	display: none;
	// }
	.cart-cancel-btn-div {
		@include makeFullWidthBlock();
		height: 3rem;
		@include makeFlexCenter();
		// padding: 1rem;
		justify-content: flex-end;

		button {
			border: none;
			font-size: 3.5rem;
			width: 3rem;
			font-weight: lighter;
			color: $homeNavTextColor;
			background-color: transparent;
			cursor: pointer;
		}
	}

	.cart-items-body {
		max-height: 75%;
		height: 75%;
		@include makeFullWidthBlock();
		padding: 1rem;
		overflow-y: auto;
		@include removeScrollBar();

		.cart-item {
			@include makeFullWidthBlock();
			@include makeRowFlexStart();
			overflow: hidden;
			height: 10rem;
			margin-bottom: 2rem;

			img {
				height: 100%;
				object-fit: cover;
				aspect-ratio: 2/3;
				margin-right: 3rem;
			}

			.cart-item-details {
				@include makeFullHeightBlock();
				@include makeColFlexCenter();

				p {
					color: $homeNavTextColor;
				}

				.item-name {
					font-size: 1.5rem;
					font-weight: bolder;
				}

				.item-quantity {
					font-size: 1.3rem;
				}
			}

			&:hover {
				background-color: #00000025;
			}

		}
	}

	.cart-modal-cta {
		justify-self: flex-end;
		height: 4rem;
		transform: translateY(50%);
		width: 80%;
		background-color: transparent;
		border: .1rem solid $cartModalBorderColor;
		cursor: pointer;

		&:hover {
			color: $lightCTATextColor;
			background-color: $darkCTABackgroundColor;
		}
	}
}
.auth {
	background-color: $lightBGColor;
}