@import "../../sass_modules/_default.scss";

.checkout-wrapper {
	margin-top: 10rem;


	@media only screen and (max-width: 550px) {
		margin-top: 15rem;
	}

	margin-right: 10%;

	@media only screen and (max-width: 450px) {
		margin-right: 8%;
	}

	@media only screen and (max-width: 400px) {
		margin-right: 0%;
	}

	padding: 3rem;
	width: 60%;

	@media only screen and (max-width: 860px) {
		width: 65%;
	}

	@media only screen and (max-width: 620px) {
		width: 70%;
		// background-color: red;
		// left: 25%;
	}

	@media only screen and (max-width: 550px) {
		width: 85%;
	}

	@media only screen and (max-width: 450px) {
		width: 90%;
	}

	@media only screen and (max-width: 420px) {
		width: 100%;
	}

	position: relative;
	height: fit-content;
	min-height: 60vh;
	font-weight: 500;
	@include makeColFlexStart();

	.checkout-body {
		@include makeFullSizeBlock();
		height: fit-content;
		@include makeColFlexStart();
		list-style-type: none;

		.checkout-div {
			border-bottom: .2rem solid $authTextColor;
			// min-height: 30rem;
			padding: 1rem 0;
			overflow: hidden;

			img {
				height: 80%;
				object-fit: cover;
				aspect-ratio: 2/3;
				margin-right: 3rem;
				@include makeAbsoluteDiv();
				left: 8%;

				@media only screen and (max-width: 860px) {
					left: 6%;
				}

				@media only screen and (max-width: 620px) {
					left: 4%;
				}

				@media only screen and (max-width: 550px) {
					left: 2%;
				}


			}
		}

		.checkout-title-div {
			@extend .checkout-div;
			@include makeFullWidthBlock();
			height: 5rem;

			.checkout-titles {
				list-style-type: none;
				@include makeFullHeightBlock();
				@include makeRowFlexStart();
				justify-content: space-evenly;
				flex-basis: 8rem;

				.checkout-title {
					font-size: 2rem;
					color: $homeNavTextColor;

				}
			}

		}

		.checkout-content-div {
			@extend .checkout-div;
			height: 15rem;
			@include makeFullWidthBlock();
			@include makeRowFlexStart();
			justify-content: space-around;
			font-size: 1.5rem;
			position: relative;

			.cta {
				border: none;
				background-color: transparent;
				cursor: pointer;
			}

			.checkout-QTY-cta {
				width: 7rem;
				@include makeRowFlexCenter();
				display: inline-flex;
				justify-content: space-evenly;
				font-size: 1.2rem;
				@include makeAbsoluteDiv();
				left: 48%;

				span {
					height: 100%;
				}

				button {
					display: inline;
					height: 100%;
					@extend .cta;
					font-size: 2rem;
					font-weight: 600;

				}

			}

			p {

				width: 8rem;
			}

			.checkout-description-text {
				@include makeAbsoluteDiv();
				left: 30%;
			}

			.checkout-price-text {
				@include makeAbsoluteDiv();
				left: 68%;

			}

			.checkout-remove-icon {
				@include makeAbsoluteDiv();
				@extend .cta;
				right: 14%;
				font-size: 3rem;

			}
		}

	}

	@media only screen and (max-width: 550px) {
		padding: 0rem 3rem 4rem;
	}

	.checkout-footer {
		margin-top: 3rem;
		height: 8rem;
		@include makeFullWidthBlock();
		@include makeColFlexStart();
		align-items: flex-end;

		.checkout-summary-text {
			@include makeFullWidthBlock();
			text-align: end;
			font-size: 2.5rem;
			font-family: montserrat;
			font-weight: 200;
			color: $homeNavTextColor;
			padding-right: 4rem;
		}

		// .checkout-cta-btn {
		// 	border: unset;
		// 	background-color: unset;
		// 	background-color: $accentColor;
		// 	color: $lightBGColor;
		// 	font-size: 1rem;
		// 	font-weight: 700;
		// 	font-family: montserrat;
		// 	width: 10rem;
		// 	height: 5rem;
		// 	@include makeRowFlexCenter();
		// 	overflow: hidden;
		// 	margin-top: 2rem;
		// 	cursor: pointer;
		// 	box-shadow: .1rem .2rem .4rem $checkoutCTAShadowColor;

		// 	svg {
		// 		height: 50%;
		// 		margin-left: .5rem;
		// 		transform: scaleY(.9);
		// 	}

		// }
	}
	.checkout-text-warning{
		color: red;
		@include makeFullWidthBlock();
		text-align: center;
		font-size: 1.8rem;
		// background-color: red;
		padding-top: 20%;
		// bottom: -10rem;
	}

}

.checkout-modal-overlay {
	position: fixed;
	top: 0;
	@include makeFullSizeBlock();
	min-height: 100vh;
	background-color: $blurColor;
	z-index: 3;
	backdrop-filter: blur(.3rem);
	@include makeColFlexCenter();

	.checkout-modal {
		transform: scale(1.2);
		height: 65%;
		max-height: 50rem;
		@include makeColFlexStart();
		width: 25rem;
		border-radius: .5rem;
		position: relative;
		box-shadow: .5rem .5rem 2rem $checkoutModalShadowColor;

		&-avatar {
			width: 5rem;
			height: 5rem;
			@include makeAbsoluteTopDiv();
			margin: auto;
			top: -6%;
			border-radius: 50%;
			background-color: $lightBGColor;
			box-shadow: .2rem .1rem .4rem $checkoutCTAShadowColor;
			@include makeColFlexCenter();

			svg {
				height: 60%;
			}
		}

		&-body {
			background-color: $lightBGColor;
			@include makeFullSizeBlock();
			border-radius: inherit;
			@include makeColFlexStart();
			// background-color: red;
			padding-bottom: 3rem;

			&-hero {
				background-color: $checkoutModalHeroColor;
				@include makeFullWidthBlock();
				border-radius: inherit;
				padding: 1rem;
				height: 20%;
				margin-bottom: 3rem;

				&-cancel-btn {
					height: 3rem;
					@include makeColFlexCenter();
					align-items: flex-end;
					margin-top: -3%;

					span {
						@include makeRowFlexCenter();
						height: 1.5rem;
						width: 1.5rem;
						border-radius: 50%;
						font-size: 2rem;
						display: inline-flex;
						color: $cartModalBorderColor;
						border: .1rem solid $cartModalBorderColor;
						cursor: pointer;
					}
				}

				.text {
					@include makeFullWidthBlock();
					text-align: center;
					height: max-content;
					font-family: Arial, Helvetica, sans-serif;
				}

				&-title {
					@extend .text;
					font-size: 1.8rem;
					font-weight: 500;
					color: $lightBGColor;
				}

				&-subtitle {
					@extend .text;
					font-size: 1.2rem;
					font-weight: 600;
					color: $checkoutModalIconColor;
				}
			}

			&-content {
				width: 80%;
				height: 60%;
				@include makeColFlexStart();

				.top-modal-contents {
					@include makeFullWidthBlock();
					height: 35%;
					@include makeColFlexStart();
					justify-content: space-evenly;


				}

				.modal-content {
					@include makeFullWidthBlock();
					border: .2rem solid lighten($color: black, $amount: 80);
					border-radius: .3rem;
					width: 100%;
					// padding: 1rem;
					@include makeRowFlexStart();
					height: 35%;
					max-height: 3rem;

					input {
						border: none;
						height: 100%;
						position: relative;

						&:focus {
							outline: none;
							border-bottom: .2rem solid $accentColor;
						}

					}

					input[type="checkbox"] {
						accent-color: $lightBGColor;
						margin: 1rem;
						margin-left: .5rem;
						border: .1rem solid $checkoutModalIconColor;
					}

					svg {
						// background-color: blue;
						height: 60%;
						margin: .5rem;

						path {
							fill: $checkoutModalIconColor;
							transform: scale(.8);
						}
					}

				}

				.bottom-modal-contents {
					@include makeFullWidthBlock();
					height: 65%;
					@include makeColFlexCenter();

					// background-color: red;
					.MC-input {
						width: 50%;
						text-align: center;
					}
				}

			}

			.checkout-modal-body-cta {
				width: 80%;
				height: 3rem;
				margin: auto;
				background-color: $accentColor;
				color: $lightBGColor;
				font-weight: 600;
				font-size: 1.1rem;
				// margin-top: -3%;
				font-family: montserrat;
				box-shadow: .2rem .2rem .5rem $checkoutCTAShadowColor;
				@include makeRowFlexCenter();
				text-align: center;
				padding: 1rem 2rem;
				cursor: pointer;
				border: none;

				svg {
					transform: translateX(100%);
				}

			}

		}
	}
}