@import "../../sass_modules/_default.scss";


.auth-page-wrapper {
	position: relative;
	height: fit-content;
	min-height: 80vh;
	font-weight: 500;
	@include makeFullWidthBlock();
	@include makeRowFlexCenter();

	@media only screen and (max-width: 470px) {
		flex-direction: column;
	}

	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 12rem;
	padding: 3rem;

	.auth-body {
		// background-color: red;
		height: 30rem;
		// @include makeAbsoluteTopDiv();
		@include makeColFlexStart();
		width: 45%;
		max-width: 35rem;

		@media only screen and (max-width: 1200px) {
			width: 40%;
		}

		@media only screen and (max-width: 550px) {
			width: 60%;
		}

		margin-left: 15rem;

		@media only screen and (max-width: 860px) {
			margin-left: 10rem;
		}

		@media only screen and (max-width: 680px) {
			margin-left: 7rem;
		}

		@media only screen and (max-width: 530px) {
			margin-left: 0rem;
		}

		@media only screen and (max-width: 470px) {
			@include makeFullWidthBlock();
			margin-left: 0;
			margin-bottom: 8rem;
		}

		&.SUPB {
			@media only screen and (max-width: 680px) {
				margin-left: 5rem;
			}

			@media only screen and (max-width: 470px) {
				@include makeFullWidthBlock();
				margin-left: 0;
			}

			height: 40rem;SUPB {
				@media only screen and (max-width: 680px) {
					margin-left: 5rem;
				}
			
				@media only screen and (max-width: 470px) {
					@include makeFullWidthBlock();
					margin-left: 0;
				}
			
				height: 40rem;
			}
		}

		input {
			outline: none;
			border: unset;
			border-bottom: .1rem solid $authTextColor;
		}

		.heading-div {
			@include makeFullWidthBlock();
			@include makeColFlexStart();
			align-items: flex-start;
			height: fit-content;
			min-height: 7rem;

			.title {
				font-size: 1.8rem;
				font-weight: 600;
				color: $authMainTitleColor;
			}

			.subtitle {
				color: $authSubtitleColor;
				font-size: 1.1rem;
				font-weight: 500;
				font-family: montserrat;
			}
		}

		form {
			@include makeFullWidthBlock();
			@include makeColFlexStart();
			height: 70%;
			.inputs-div{
				@include makeFullSizeBlock();
			}
			// button{
			// 	@include styled-button();
			// }
		}
		
		.cta-div {
			@include makeFullWidthBlock();
			@include makeRowFlexStart();
			transform: translateY(-50%);
			height: 5rem;
		}
	}
	
	
}
