@import "_functions.scss";
@import "_variables.scss";
@import "_typography.scss";

* {
	margin: 0;
	padding: 0;

	&::selection {
		background-color: transparent;
	}
}


*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: openSansCondensed;
	font-display: auto;

}

@mixin removeScrollBar {
	&::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html {
	box-sizing: border-box;
	font-size: 10px;
	@include removeScrollBar();
	height: 100%;
	width: 100%;

	@media only screen and (max-width: 860px) {
		font-size: 9px;
	}

	@media only screen and (max-width: 720px) {
		font-size: 8px;
	}

	@media only screen and (max-width: 650px) {
		font-size: 7px;
	}
}

body {
	width: 100%;
	height: fit-content;
	min-height: 100vh;
}

.hidden {
	display: none !important;
}




