@font-face {
	font-family: montserrat;
	src: url("../../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: "openSansCondensed";
	src: url("../../fonts/open-sans-condensed/OpenSans-CondLight.ttf");
}

@font-face {
	font-family: Autography;
	src: url("../../fonts/Autography.ttf");
}